[system]

webport = 4600
longport = 5600
runmode = "Release"
[longmessage]
poolsize = 3000
version = "v1"

status = false
authstatus = true
networkstatus = true
host = "127.0.0.1:6379"
db = 0
password  = ""
storagetime = 0
linktimeout = 30
readtimeout = 20
writetimeout = 30

[scenario]
ChromePath = "/opt/google/chrome/chrome"
mutualHost = "http://127.0.0.1:2531/v2/api/callback/notice"

[wxnats]
host = ""
username  = ""
password  = ""

[auth]
proxy = ""
region = "CN"
